.box {
    width: 50vw;
    margin-left: 25vw;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgb(40, 40, 40);
    padding: 20px;
    min-height: 80vh;
    background-color: rgb(20, 20, 20);
}