.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical {
    width: 60vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileAvatar {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}