@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
}

/* total width */
main::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

/* background of the scrollbar except button or resizer */
main::-webkit-scrollbar-track {
    background-color: white;
}

/* scrollbar itself */
main::-webkit-scrollbar-thumb {
background-color: rgb(150, 150, 150);
    border-radius: 16px;
    border: 1px solid rgb(150, 150, 150);
}

/* set button(top and bottom of the scrollbar) */
main::-webkit-scrollbar-button {
    display:none;
}

.sidebar {
    display: inline-block;
    position: fixed;
    transition: 0.5s ease-in-out;
    left:-100vw;
    top:0px;
    width: 70vw;
    height: 100vh;
    padding: 20px;
    padding-top: 50px;
    background-color: rgb(40, 40, 40);
    z-index: 101;
}

.overlay {
    display: none;
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}

.sidebar>h3 {
    margin-left: 20px;
    margin-bottom: 50px;
}

.sidebar>ion-icon {
    position: absolute;
    top:30px;
    right:30px;
    font-size: 30px;
}

.sidebar>a {
    display: block;
    margin-top: 10px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;
    color: black;
    max-width: 100%;
    display: flex;
}

/*.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0px;
    padding:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:calc( 100vw - 40px );
    z-index: 99;
    z-index:98;
}*/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    padding:10px;
    max-width: 25vw;
    width: 60px;
    min-width: 60px;
    z-index:98;
    gap:15px;
    background-color: rgb(235, 235, 235);
    border-right: 1px solid rgb(200, 200, 200);
}

.link {
    font-size: 25px;
    color: rgb(40, 40, 40);
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;

}

.link:hover {
    color: blueviolet;
}

.bottom-link {
    position: absolute;
    bottom: 10px;
}

.top-link {
    position: absolute;
    padding: 5px;
    top: 10px;
}

.link:hover {
    background-color: rgb(220, 220, 220);
}

.avatar {
    height: 50px;
    border-radius: 50%;
}

.main {
    background-color: white;
    z-index:50;
    max-height: 100vh;
    overflow-y: scroll;
}

.title {
    padding: 0px;
    margin: 5px;
}

.categorie {
    padding: 30px;
    margin-bottom:0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}

.tendances{
    padding: 30px;
    margin-bottom:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.videoContainer>img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/ 9;
    object-fit: cover;
}

.videoContainer>video {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/ 9;
    object-fit: cover;
    display: none;
}

.videoContainer>h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.1s ease-in-out;
    text-overflow: ellipsis;
    overflow: hidden; 
    font-size: smaller;
    white-space: nowrap;
}

.videoContainer>.timecode {
    transition: 0.1s ease-in-out;
    position:absolute;
    right: 25px;
    bottom: 100px;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.videoContainer>p {
    text-overflow: ellipsis;
    overflow: hidden; 
    font-size: smaller;
    white-space: nowrap;
}

.videoContainer {
    transition: 0.2s ease-in-out;
    background-color: white;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    margin: 8px;
    padding: 8px;
    width: 300px;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    flex: 1 1 auto;
    cursor: pointer;
}

.videoContainerCategorie {
    flex: none !important;
    width: 23vw !important; 
}


.videoContainer:hover > h5 {
    color: blueviolet;
}

.videoContainer:hover {
    z-index:80;
    transform: scale(1.05);
}

.videoContainer > .progressbar {
    position: absolute;
    left:0px;
    bottom:80px;
    width: 100%;
    height: 5px;
    color: blueviolet;
}

a.videoContainer {
    text-decoration: none;
    color: inherit
}

#searchDiv {
    display: flex;
    width: 40vw;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid lightgrey;
}

#searchBar {
    background-color: transparent;
    border: none;
    width: 95%;
}

#searchButton {
    background-color: transparent;
    border: none;
    width: 5%;
}

#searchBar:focus {
    outline-width: 0px;
}

.searchHeader {
    width: calc( 100vw - 80px );
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.popup {
    position: fixed;
    top: -50vh;
    right: 25vw;
    left: auto;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    width: 50vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 20px lightgrey;
    transition: 0.3s ease-in-out;
}

.popup > p {
    margin: 0px;
}

@media only screen and (max-width: 1024px) {
    .headerLinks {
      display: none;
    }
    .leftHeader>ion-icon {
        font-size: 20px;
        display: inline-block;
        margin-right: 50px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 540px) {
    .headerLinks {
      display: none;
    }
    .leftHeader>ion-icon {
        display: none;
    }
    .searchBar {
        display: none;
    }
    .rightHeader>ion-icon {
        display: inline-block;
    }
}