#video {
    position: absolute;
    width: 65vw;
    margin-left: 17.5vw;
    margin-top:70px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgb(40, 40, 40);
    transition: 0.2s ease-in-out;
    z-index:50;
}

#videoBlur {
    width: 70vw;
    margin-left: 15vw;
    left: 10vw;
    margin-top:50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgb(40, 40, 40);
    transition: 0.2s ease-in-out;
    z-index:40;
    filter: blur(50px);
}

#content {
    width: 65vw;
    margin-left: 17.5vw;
    margin-top:50px;
    transition: 0.2s ease-in-out;
    padding: 0px;
    margin-bottom: 50px
}

@media only screen and (max-width: 1024px) {
    #video {
        width: 80vw;
        margin-left: 10vw;
    }
    #content {
        width: 80vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 540px) {
    #video {
        width: calc(100vw - 40px);
        margin-left: 0vw;
        margin: 20px;
        border-radius: 12px;
        margin-top: 50px;
    }
    #content {
        width: calc(100vw - 40px);
        margin-left: 0vw;
        padding: 20px;
        margin-top: 0px;
    }
}
