.main {
    display: flex;
}

.left {
    width: 55vw;
    padding-left: 5vw;
}

.right {
    width: 44vw;
    padding: 50px;
}

#video {
    width: 50vw;
    margin-top:50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgb(40, 40, 40);
    z-index:50;
}

#pubPlay {
    font-size: 50px;
    position: absolute;
    left:50%;
    top:55%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#pubSkip {
    position: absolute;
    bottom:20px;
    right: 20px;
    width: 150px;
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    z-index:52;
    display: none;
    text-align: center;
    opacity: 70%;
    cursor: not-allowed;
}

#pubInfo {
    display: flex;
    position: absolute;
    top:70px;
    left:20px;
    align-items:center;
    gap:10px;
}

#time {
    position: absolute;
    bottom: 3px;
    left: 20px;
    height: 3px;
    background-color: yellow;
    border-radius: 1px;
}

#videoBlur {
    width: 50vw;
    margin-top:50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 100px rgb(40, 40, 40);
    transition: 0.2s ease-in-out;
    z-index:40;
    filter: blur(50px);
    display: none;
}

#content {
    width: 50vw;
    margin-top:50px;
    transition: 0.2s ease-in-out;
    padding: 0px;
    margin-bottom: 50px
}

.commentDiv {
    padding-top: 20px;
}

.commentDiv>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.commentDiv>div>img {
    border-radius: 50%;
    width: 40px;
    width: 40px;
}

.commentDiv>p{
    margin-top: 5px;
}


.info {
    width: 50vw;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoPart {
    display: flex;
    gap: 20px;
    align-items: center;
}

#userName {
    margin:0px
}

#userImg {
    height: 50px;
    border-radius: 50%;
}

.buttonGroup {
    background-color: rgb(40, 40, 40);
    transition: 0.1s ease-in-out;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.buttonGroup:hover {
    background-color: rgb(60, 60, 60);
}

#commentaireInput {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    border-bottom: 2px solid rgb(220, 220, 220);
    padding-bottom: 10px;
    color: rgb(220, 220, 220);
    width: 100%;
}
#commentaireInput:focus {
    outline-width: 0px;
}

@media only screen and (max-width: 1024px) {
    .info {
        width: 80vw;
    }
    #video {
        width: 80vw;
    }
    #content {
        width: 80vw;
    }
    .main {
        display: block;
    }
    .left {
        width: 80vw;
        padding-left: 10vw;
    }
    
    .right {
        width: 80vw;
        padding: 10vw;
    }
}

@media only screen and (max-width: 540px) {
    #video {
        width: calc(100vw - 40px);
        margin-left: 0vw;
        border-radius: 12px;
        margin-top: 50px;
    }
    #content {
        width: calc(100vw - 40px);
        margin-left: 0vw;
        margin-top: 0px;
    }
    .info {
        width: calc(100vw - 40px);
    }
    .main {
        flex-direction: column;
    }
    .left {
       width: calc(100vw - 40px);
       padding: 20px;
    }
    
    .right {
        width: calc(100vw - 40px);
        padding: 20px;
    }
}
